@model MyMeds.Models.Medication

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MedicationName" class="control-label"></label>
                <input asp-for="MedicationName" class="form-control" />
                <span asp-validation-for="MedicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Directions" class="control-label"></label>
                <input asp-for="Directions" class="form-control" />
                <span asp-validation-for="Directions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescriber" class="control-label"></label>
                <input asp-for="Prescriber" class="form-control" />
                <span asp-validation-for="Prescriber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Refills" class="control-label"></label>
                <input asp-for="Refills" class="form-control" />
                <span asp-validation-for="Refills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pharmacy" class="control-label"></label>
                <input asp-for="Pharmacy" class="form-control" />
                <span asp-validation-for="Pharmacy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeTaken" class="control-label"></label>
                <input asp-for="TimeTaken" class="form-control" />
                <span asp-validation-for="TimeTaken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
