@{
    ViewData["Title"] = "Logon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Newtonsoft.Json
@model MyMeds.Models.LogonModel

<h1>Welcome, please login.</h1>

@using (Html.BeginForm("LoginBtn", "Home", FormMethod.Post))
{
    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
    <br />
    <a>Username:</a>
    <br />
    <td>
        @Html.TextBoxFor(model => model.UserId)
    </td>
    <br />
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <br />
    <a>Password:</a>
    <br />
    <td>
        @Html.TextBoxFor(model => model.Password)
    </td>
    <br />
    <br />
    <input class="btn-primary" type="submit" value="Login" />
}

